<div class="loading-container" *ngIf="loading">
    <div class="loadingio-spinner-spin-9crulu7m9iv"><div class="ldio-r6078keeafj">
        <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
        </div></div>
        <style type="text/css">
        @keyframes ldio-r6078keeafj {
          0% {
            opacity: 1;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.55,1.55);
          } 100% {
            opacity: 0;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1,1);
          }
        }
        .ldio-r6078keeafj div > div {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #f7e92b;
          animation: ldio-r6078keeafj 0.9090909090909091s linear infinite;
        }.ldio-r6078keeafj div:nth-child(1) > div {
          left: 166px;
          top: 90px;
          animation-delay: -0.7792207792207791s;
        }
        .ldio-r6078keeafj > div:nth-child(1) {
          transform: rotate(0deg);
          transform-origin: 176px 100px;
        }.ldio-r6078keeafj div:nth-child(2) > div {
          left: 137px;
          top: 149px;
          animation-delay: -0.6493506493506492s;
        }
        .ldio-r6078keeafj > div:nth-child(2) {
          transform: rotate(51.42857142857143deg);
          transform-origin: 147px 159px;
        }.ldio-r6078keeafj div:nth-child(3) > div {
          left: 73px;
          top: 164px;
          animation-delay: -0.5194805194805194s;
        }
        .ldio-r6078keeafj > div:nth-child(3) {
          transform: rotate(102.85714285714286deg);
          transform-origin: 83px 174px;
        }.ldio-r6078keeafj div:nth-child(4) > div {
          left: 22px;
          top: 123px;
          animation-delay: -0.3896103896103896s;
        }
        .ldio-r6078keeafj > div:nth-child(4) {
          transform: rotate(154.28571428571428deg);
          transform-origin: 32px 133px;
        }.ldio-r6078keeafj div:nth-child(5) > div {
          left: 22px;
          top: 57px;
          animation-delay: -0.2597402597402597s;
        }
        .ldio-r6078keeafj > div:nth-child(5) {
          transform: rotate(205.71428571428572deg);
          transform-origin: 32px 67px;
        }.ldio-r6078keeafj div:nth-child(6) > div {
          left: 73px;
          top: 16px;
          animation-delay: -0.12987012987012986s;
        }
        .ldio-r6078keeafj > div:nth-child(6) {
          transform: rotate(257.14285714285717deg);
          transform-origin: 83px 26px;
        }.ldio-r6078keeafj div:nth-child(7) > div {
          left: 137px;
          top: 31px;
          animation-delay: 0s;
        }
        .ldio-r6078keeafj > div:nth-child(7) {
          transform: rotate(308.57142857142856deg);
          transform-origin: 147px 41px;
        }
        .loadingio-spinner-spin-9crulu7m9iv {
          width: 200px;
          height: 200px;
          display: inline-block;
          overflow: hidden;
          background: rgba(NaN, NaN, NaN, 0);
        }
        .ldio-r6078keeafj {
          width: 100%;
          height: 100%;
          position: relative;
          transform: translateZ(0) scale(1);
          backface-visibility: hidden;
          transform-origin: 0 0; /* see note above */
        }
        .ldio-r6078keeafj div { box-sizing: content-box; }
        /* generated by https://loading.io/ */
        </style>
</div>

<div class="container" *ngIf="!loading">
    <h1 class="title">Screening Questions</h1>

    <form class="form__group filed" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="category">Personal Informations</h2>
        
        <div class="form__group">
            <input class="form__field" type="text" name="fn" id="fn" placeholder="First Name" formControlName="firstName">
            <label class="form__label" for="fn">First Name</label>
        </div>

        <div class="form__group">
            <input class="form__field" type="text" name="mn" id="mn" placeholder="Middle Name" formControlName="middleName">
            <label class="form__label" for="mn">Middle Name</label>
        </div>

        <div class="form__group">
            <input class="form__field" type="text" name="ln" id="ln" placeholder="Last Name" formControlName="lastName">
            <label class="form__label" for="ln">Last Name</label>
        </div>

        <h2 class="category">Symptoms</h2>
        <div class="question">
            <label class="symptom__label" for="fever">Fever or Chills</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="fever" id="fever" formControlName="fever">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="breath">Difficulty breathing or shortness of breath</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="breath" id="breath" formControlName="breath">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="cough">Cough</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="cough" id="cough" formControlName="cough">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="throat">Sore Throat, trouble swallowing</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="throat" id="throat" formControlName="throat">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="nose">Runny nose / stuffy nose or nasal congestion</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="nose" id="nose" formControlName="nose">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="taste">Decrease or loss of smell or taste</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="taste" id="taste" formControlName="taste">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="nausea">Nausea, vomiting, diarrhea, abdominal pain</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="nausea" id="nausea" formControlName="nausea">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="tiredness">Not feeling well, extreme tiredness, sore muscles</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="tiredness" id="tiredness" formControlName="tiredness">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <h2 class="category">Travel</h2>
        <div class="question">
            <label class="symptom__label" for="travel">Have you travelled outside Canada in the past 14 days ?</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="travel" id="travel" formControlName="travel">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <h2 class="category">Contact</h2>
        <div class="question">
            <label class="symptom__label" for="contact">Have you had close contact with a confirmed or probable case of COVID-19 ?</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="contact" id="contact" formControlName="contact">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
