<div class="container">
    <h1 class="title">Screening Questions</h1>

    <form class="form__group filed" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="category">Personal Informations</h2>
        
        <div class="form__group">
            <input class="form__field" type="text" name="fn" id="fn" placeholder="First Name" formControlName="firstName">
            <label class="form__label" for="fn">First Name</label>
        </div>

        <div class="form__group">
            <input class="form__field" type="text" name="mn" id="mn" placeholder="Middle Name" formControlName="middleName">
            <label class="form__label" for="mn">Middle Name</label>
        </div>

        <div class="form__group">
            <input class="form__field" type="text" name="ln" id="ln" placeholder="Last Name" formControlName="lastName">
            <label class="form__label" for="ln">Last Name</label>
        </div>

        <h2 class="category">Symptoms</h2>
        <div class="question">
            <label class="symptom__label" for="fever">Fever or Chills</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="fever" id="fever" formControlName="fever">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="breath">Difficulty breathing or shortness of breath</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="breath" id="breath" formControlName="breath">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="cough">Cough</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="cough" id="cough" formControlName="cough">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="throat">Sore Throat, trouble swallowing</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="throat" id="throat" formControlName="throat">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="nose">Runny nose / stuffy nose or nasal congestion</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="nose" id="nose" formControlName="nose">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="taste">Decrease or loss of smell or taste</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="taste" id="taste" formControlName="taste">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="nausea">Nausea, vomiting, diarrhea, abdominal pain</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="nausea" id="nausea" formControlName="nausea">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <div class="question">
            <label class="symptom__label" for="tiredness">Not feeling well, extreme tiredness, sore muscles</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="tiredness" id="tiredness" formControlName="tiredness">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <h2 class="category">Travel</h2>
        <div class="question">
            <label class="symptom__label" for="travel">Have you travelled outside Canada in the past 14 days ?</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="travel" id="travel" formControlName="travel">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <h2 class="category">Contact</h2>
        <div class="question">
            <label class="symptom__label" for="contact">Have you had close contact with a confirmed or probable case of COVID-19 ?</label>

            <label class="checkbox bounce">
                <input type="checkbox" name="contact" id="contact" formControlName="contact">
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
